<div class="container">
  <div class="text-container" >
    <h3><%= t('home.index.title') %></h3>
    <%= render "home/clicks_count", clicks_from_ip: @clicks_from_ip, clicks_count: @clicks_count %>
  </div>
  <div class="button-container" data-controller="click-sound-effect">
    <%= form_with model: @click, url: clicks_path, method: :post do |f| %>
      <%= f.hidden_field :ip_address, value: request.remote_ip %>
      <%= f.hidden_field :user_agent, value: request.user_agent %>
      <button class="btn" data-action="click->click-sound-effect#playSound" type="submit">
        <%= image_tag "soviet.png", width: "150px", height: "150px" %>
      </button>
    <% end %>
  </div>
</div>